node_modules
**/node_modules
.next
**/.next
.git
.github
.env
.env.local
*.log
coverage
test-results
playwright-report
**/*.tsbuildinfo
apps/web/public/uploads/*
!apps/web/public/uploads/.gitkeep
docs
*.md
!README.md
